/* Sass Document - Layout Styles */

/* This document contains the styling in association with the layout of the page. */


/* Jumbotron Styles */

.jumbotron{
  /* add an inset shadow to the bottom of the jumbotron */
  box-shadow: inset 0px -10px 35px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px -10px 35px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -10px 35px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 70px;
}

/* Main Layout Styling */

.row .col-4{
	padding: 10px;
}

.row .thumbnail{
  padding: 5px;
}

.row h2{
  padding: 10px;
}

.shrimptron{
  padding: 70px;
  box-shadow: inset 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
}

/* Carousel Styles */

.carousel{
  background-color: $tertiary-colour;
  color: #fff;
}

#myCarousel{
  margin: 10px 10px 30px 10px;
}

/* About Styles */
#map-canvas{
  width: 100%;
  height: 100%;
}

.map-holder{
  max-width: 800px;
  height: 460px;
}

/* Other Styles */ 

.shadow
/* shadow adds a cool box-shadow effect that uses the before and after psedo-selectors */
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-under:before, .shadow-under:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


